02_fundamentos_pandas/notebook/.ipynb_checkpoints/base_de_dados-checkpoint.ipynb
02_fundamentos_pandas/notebook/.ipynb_checkpoints/importando_dados-checkpoint.ipynb
02_fundamentos_pandas/notebook/.ipynb_checkpoints/selecionando_uma_variavel-checkpoint.ipynb
02_fundamentos_pandas/notebook/.ipynb_checkpoints/01_base_de_dados-checkpoint.ipynb
02_fundamentos_pandas/notebook/.ipynb_checkpoints/02_importando_dados-checkpoint.ipynb
02_fundamentos_pandas/notebook/.ipynb_checkpoints/03_selecionando_uma_variavel-checkpoint.ipynb
02_fundamentos_pandas/notebook/.ipynb_checkpoints/04_trabalhando_com_series-checkpoint.ipynb
02_fundamentos_pandas/notebook/.ipynb_checkpoints/05_concatenando_dataframes-checkpoint.ipynb
02_fundamentos_pandas/notebook/.ipynb_checkpoints/06_filtrando_dados-checkpoint.ipynb
02_fundamentos_pandas/notebook/.ipynb_checkpoints/07_exportando_dados-checkpoint.ipynb
02_fundamentos_pandas/notebook/.ipynb_checkpoints/08_organizando_dataframes-checkpoint.ipynb
02_fundamentos_pandas/notebook/.ipynb_checkpoints/09_selecoes_e_frequencia-checkpoint.ipynb
02_fundamentos_pandas/notebook/.ipynb_checkpoints/10_formas_de_selecao-checkpoint.ipynb
02_fundamentos_pandas/notebook/.ipynb_checkpoints/11_tratamento_de_dados_faltantes-checkpoint.ipynb
02_fundamentos_pandas/notebook/.ipynb_checkpoints/08_exportando_dados-checkpoint.ipynb
02_fundamentos_pandas/notebook/.ipynb_checkpoints/12_tratamento_de_dados_faltantes-checkpoint.ipynb
02_fundamentos_pandas/notebook/.ipynb_checkpoints/13_tratamento_condicional-checkpoint.ipynb
02_fundamentos_pandas/notebook/.ipynb_checkpoints/14_metodos_de_interpolacao-checkpoint.ipynb
02_fundamentos_pandas/notebook/.ipynb_checkpoints/contadores-checkpoint.ipynb
02_fundamentos_pandas/notebook/.ipynb_checkpoints/15_criando_novas_variaveis-checkpoint.ipynb
02_fundamentos_pandas/notebook/.ipynb_checkpoints/16_excluindo_variaveis-checkpoint.ipynb
02_fundamentos_pandas/notebook/.ipynb_checkpoints/17_contadores-checkpoint.ipynb
02_fundamentos_pandas/notebook/.ipynb_checkpoints/18_criando_agrupamentos-checkpoint.ipynb
02_fundamentos_pandas/notebook/.ipynb_checkpoints/19_estatisticas_descritivas-checkpoint.ipynb
02_fundamentos_pandas/notebook/.ipynb_checkpoints/20_criando_faixas_de_valor-checkpoint.ipynb
02_fundamentos_pandas/notebook/.ipynb_checkpoints/21_identificando_e_removendo_outliers-checkpoint.ipynb
02_fundamentos_pandas/notebook/.ipynb_checkpoints/22_removendo_outliers_continuacao-checkpoint.ipynb
02_fundamentos_pandas/notebook/.ipynb_checkpoints/23_graficos_com_matplotlib-checkpoint.ipynb
03_data_analysis_introduction/notebooks/.ipynb_checkpoints/01_exercicio_1_2_3_no_jupyter-checkpoint.ipynb
03_data_analysis_introduction/notebook/.ipynb_checkpoints/01_exercicio_1_2_3_no_jupyter-checkpoint.ipynb
04_regressao_linear/notebook/.ipynb_checkpoints/Regressão Linear-checkpoint.ipynb
