02_fundamentos_pandas/notebook/.ipynb_checkpoints/base_de_dados-checkpoint.ipynb
02_fundamentos_pandas/notebook/.ipynb_checkpoints/importando_dados-checkpoint.ipynb
02_fundamentos_pandas/notebook/.ipynb_checkpoints/selecionando_uma_variavel-checkpoint.ipynb
02_fundamentos_pandas/notebook/.ipynb_checkpoints/01_base_de_dados-checkpoint.ipynb
02_fundamentos_pandas/notebook/.ipynb_checkpoints/02_importando_dados-checkpoint.ipynb
02_fundamentos_pandas/notebook/.ipynb_checkpoints/03_selecionando_uma_variavel-checkpoint.ipynb
02_fundamentos_pandas/notebook/.ipynb_checkpoints/04_trabalhando_com_series-checkpoint.ipynb
02_fundamentos_pandas/notebook/.ipynb_checkpoints/05_concatenando_dataframes-checkpoint.ipynb
02_fundamentos_pandas/notebook/.ipynb_checkpoints/06_filtrando_dados-checkpoint.ipynb
02_fundamentos_pandas/notebook/.ipynb_checkpoints/07_exportando_dados-checkpoint.ipynb
02_fundamentos_pandas/notebook/.ipynb_checkpoints/08_organizando_dataframes-checkpoint.ipynb
02_fundamentos_pandas/notebook/.ipynb_checkpoints/09_selecoes_e_frequencia-checkpoint.ipynb
02_fundamentos_pandas/notebook/.ipynb_checkpoints/10_formas_de_selecao-checkpoint.ipynb
02_fundamentos_pandas/notebook/.ipynb_checkpoints/11_tratamento_de_dados_faltantes-checkpoint.ipynb
02_fundamentos_pandas/notebook/.ipynb_checkpoints/08_exportando_dados-checkpoint.ipynb
02_fundamentos_pandas/notebook/.ipynb_checkpoints/12_tratamento_de_dados_faltantes-checkpoint.ipynb
02_fundamentos_pandas/notebook/.ipynb_checkpoints/13_tratamento_condicional-checkpoint.ipynb
02_fundamentos_pandas/notebook/.ipynb_checkpoints/14_metodos_de_interpolacao-checkpoint.ipynb
